<div>
    <mat-form-field appearance="standard">
        <mat-label>Keresés</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Cím..." #input>
    </mat-form-field>
    
    <div>
      <mat-table [dataSource]="dataSource">
        
        <ng-container matColumnDef="azonosító">
            <mat-header-cell *matHeaderCellDef>Azonosító</mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="azonosító"> {{element.uuid}} </mat-cell>
          </ng-container>

        <ng-container matColumnDef="cím">
          <mat-header-cell *matHeaderCellDef>Cím</mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="cím"> {{element.address}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="hosszúság">
          <mat-header-cell *matHeaderCellDef>Hosszúság</mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="hosszúság"> {{element.length}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="szélesség">
          <mat-header-cell *matHeaderCellDef>Szélesség</mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="szélesség"> {{element.width}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="star">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button *ngIf="user && user.role == 'admin'" mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="editStore(element)">
                <mat-icon>edit</mat-icon>
                <span>Szerkesztés</span>
              </button>
              <button mat-menu-item (click)="deleteStore(element)">
                <mat-icon>delete</mat-icon>
                <span>Törlés</span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </div>
</div>
<div *ngIf="isStoreEnough" class="greenRec" fxLayout fxLayoutAlign="center none">
  <p>BELEFÉR</p>
</div>
<div *ngIf="!isStoreEnough" class="redRec" fxLayout fxLayoutAlign="center none">
  <p>NEM FÉR</p>
</div>