<mat-nav-list>
    <h3 *ngIf="user" align="center">{{user.name}}</h3>
    <a mat-list-item routerLink="/products" (click)="onSidenavClose()">
        <mat-icon>feed</mat-icon> <span class="nav-caption">Tárgyak</span>   
    </a>
    <a mat-list-item routerLink="/store" (click)="onSidenavClose()">
        <mat-icon>store</mat-icon><span class="nav-caption">Raktárak</span>
    </a>
    <a *ngIf="!user" mat-list-item routerLink="/login" (click)="onSidenavClose()">
        <mat-icon>login</mat-icon><span class="nav-caption">Bejelentkezés</span>
    </a>
    <a *ngIf="user" mat-list-item (click)="logout()">
        <mat-icon>logout</mat-icon><span class="nav-caption">Kijelentkezés</span>
    </a>
</mat-nav-list>