<h2 mat-dialog-title>{{data.editMode ? "Tárgy Szerkesztése" : "Új Tárgy Létrehozása"}}</h2>
<form [formGroup] = "storeForm" (ngSubmit)="onSubmit(storeForm.value)">
  <div mat-dialog-content fxLayout="column" fxLayoutAlign="space-around none">
    <mat-form-field *ngIf="data.editMode" appearance="fill">
        <mat-label>Id</mat-label>
        <input matInput placeholder="Id..." formControlName="uuid">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Cím</mat-label>
      <input matInput placeholder="Név..." formControlName="address">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Hosszúság</mat-label>
      <input matInput placeholder="Hosszúság..."formControlName="length" type="number">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Szélesség</mat-label>
      <input matInput placeholder="Szélesség..." formControlName="width" type="number">
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Mégse</button>
    <button mat-button type="submit" [disabled]="!storeForm.valid">Mentés</button>
  </div>
</form>
